
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-secondary-900;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 16px;
  line-height: 24px;
}
.container {
  @apply px-5 mx-auto;
}

.row {
  @apply flex flex-wrap;
}
.navigation {
  @apply absolute top-0 left-0 z-20 w-full py-5 duration-300 bg-transparent;
}
.sticky {
  @apply fixed py-4 bg-white shadow;
}

.collapse.show {
  @apply block;
}
.toggler-icon {
  @apply relative block duration-300 bg-basic;
  height: 2px;
  width: 30px;
  margin: 6px 0;
}
.active>.toggler-icon:nth-child(1) {
  @apply transform rotate-45;
  top: 7px;
}
.active>.toggler-icon:nth-child(2) {
  @apply opacity-0;
}
.active>.toggler-icon:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}

.navbar-nav .nav-item a {
  @apply relative inline-block px-4 py-3 font-bold text-secondary uppercase duration-300;
}

.navbar-nav .nav-item.active a,
.navbar-nav .nav-item a:hover {
  @apply text-accent1;
}
.navbar-nav .nav-item.active a::before,
.navbar-nav .nav-item.active a::after,
.navbar-nav .nav-item a:hover::before,
.navbar-nav .nav-item a:hover::after {
  @apply opacity-100;
}

.navbar-nav .nav-item a::after,
.navbar-nav .nav-item a::before {
  content: '';
  @apply absolute bottom-0 w-2 h-1 duration-300 bg-accent1 opacity-0;
}
.navbar-nav .nav-item a::before {
  left: calc(50% - 15px);
}
.navbar-nav .nav-item a::after {
  left: calc(50% + 5px);
}

@media (min-width: 768px) {
  .navbar-nav .nav-item a {
    @apply text-basic;
  }

  .navbar-nav .nav-item.active a,
  .navbar-nav .nav-item a:hover {
    @apply text-primary;
  }

  .navbar-nav .nav-item a::after,
  .navbar-nav .nav-item a::before {
    content: '';
    @apply absolute bottom-0 w-2 h-1 duration-300 bg-primary opacity-0;
  }
}

.main-btn.video-popup {
  @apply text-primary bg-white;
}
.main-btn.video-popup:hover {
  @apply bg-white shadow-xl;
}

.gradient-btn {
  background-image: linear-gradient(to right, #0067f4 0%, #2bdbdc 50%, #0067f4 100%);
  background-size: 200% auto;
  overflow: hidden;
}
.gradient-btn:hover {
  background-position: right center;
  @apply shadow-xl;
}

.title {
  line-height: 55px;
  @apply mb-4 text-5xl font-semibold text-secondary-900;
}

.title-small {
  line-height: 55px;
  @apply mb-4 text-xl font-semibold text-secondary-900;
}

.about-title {
  @apply mb-2 text-2xl font-medium text-secondary-900;
}

.about-icon i {
  font-size: 64px;
  @apply text-secondary;
}
.about-image {
  @apply absolute top-0 right-0 flex items-center justify-center md:w-1/4 h-full mr-8;
}
@media (max-width: 1024px) {
  .about-image {
    @apply static w-full px-8 mt-10;
  }
  .call-action-image {
    @apply static w-full;
  }
}
.single-pricing {

  @apply relative z-10 px-5 pt-6 pb-12 mx-4 mb-8 overflow-hidden bg-white rounded shadow-lg;
}

.sub-title {
  @apply relative pb-2 mb-8 text-xl font-semibold;
}

.sub-title::after {
  content: '';
  @apply absolute bottom-0 left-0 right-0 w-20 h-1 m-auto bg-secondary-300;
}

.pro .sub-title::after {
  @apply ml-0 bg-secondary-900;
}

.enterprise .sub-title::after {
  @apply ml-auto mr-0 bg-secondary-900;
}

.price {
  @apply text-6xl font-bold text-gray-900;
}
.year {
  @apply mb-8 text-xl font-medium text-gray-700;
}

.pricing-list ul li {
  @apply mb-4 text-gray-900;
}

.pricing-list ul li i {
  @apply mr-3 text-secondary-900;
}

.main-btn {
  @apply inline-block px-8 py-4 font-bold text-basic duration-300 bg-secondary rounded-full;
}
.main-btn:hover {
  @apply bg-secondary-400;
}
.bottom-shape {
  z-index: -1;
  @apply absolute bottom-0 left-0 w-full -mb-5;
}

.call-action-content {
  max-width: 560px;
}
.call-action-image img {
  @apply w-full h-full;
  object-position: center center;
  object-fit: cover;
}

.single-testimonial {
  @apply p-10 mx-4 mt-8 mb-12 bg-white shadow-lg;
}
.testimonial-image {
  @apply w-24 h-24 mx-auto mb-8 overflow-hidden rounded-full;
}

.slick-slide:focus {
  @apply outline-none;
}
.slick-dots {
  @apply absolute bottom-0 left-0 right-0 flex justify-center mx-auto -mb-10;
}
.slick-dots li {
  @apply leading-none;
}
.slick-dots button {
  text-indent: -999999px;
  @apply w-3 h-3 m-1 duration-300 bg-secondary-100 border-0 rounded-full;
}
.slick-dots .slick-active button,
.slick-dots button:hover {
  @apply bg-secondary-900;
}
.slick-dots button:focus {
  @apply outline-none;
}

.single-form textarea,
.single-form input {
  @apply w-full px-6 py-3 mb-1 duration-300 bg-white border border-gray-300 rounded;
}
.single-form textarea:focus,
.single-form input:focus {
  @apply border-secondary-900 outline-none;
}
.form-message.error {
  @apply text-red;
}
.form-message.success {
  @apply text-green;
}

.footer-social li a {
  @apply inline-block mr-2 text-2xl text-gray-800 duration-300;
}
.footer-social li a:hover {
  @apply text-secondary-900;
}
.footer-title {
  @apply mb-5 text-sm font-bold text-gray-700;
}
.footer-link ul li a {
  @apply inline-block mb-3 font-medium text-gray-900 duration-300;
}
.footer-link ul li a:hover {
  @apply text-secondary-900;
}

.back-to-top {
  @apply fixed bottom-0 right-0 z-20 flex items-center justify-center w-10 h-10 mb-8 mr-8 text-secondary duration-300 bg-primary rounded;
}

.navbar-nav .nav-item a.force-text-secondary {
  color: #5c5bfd;
}

.navbar-nav .nav-item.active a.force-text-secondary,
.navbar-nav .nav-item a.force-text-secondary:hover {
  color: #5DFBD7;
}

.quote-content {
  border-left: 0.25rem solid #5c5bfd;
}

.services-bg {
  z-index: 1;
}

.services-bg:after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('../images/logo-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
}

.px-32 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.px-16 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-16 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.my-8 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.text-3xl {
  font-size: 2rem;
  line-height: 2.5rem;
}

.service-icon i {
  font-size: 96px;
  @apply text-basic;
}

.text-left {
  text-align: left;
}

@media (min-width: 768px) {
  .md\:px-16 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
